Flask~=3.0.3
Flask-SQLAlchemy
Flask-Bcrypt
Flask-Login~=0.6.3
flask_wtf
email_validator
Flask-Migrate~=4.0.7
pytest
app~=0.0.1
SQLAlchemy~=2.0.34
gunicorn
werkzeug~=3.0.4
alembic~=1.13.2
wtforms~=3.1.2
bcrypt~=4.2.0

# Developer tools (for CI and local development)
flake8
mypy
black
coverage
bandit