{% extends "base.html" %}
{% block title %}Home{% endblock %}

{%block content %}
<html>
<head>
    <title>Bakery Products</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Playfair+Display&display=swap" rel="stylesheet">
</head>
<body>
<br><br><br><br><br>
<br><br><br><br><br>
<br><br><br><br><br>
<br><br><br><br><br>
<br><br><br><br><br>
    <h1>Our Delicious Bakery Products</h1>
    <table>
        <thead>
            <tr>
                <th>Name</th>
                <th>Description</th>
                <th>Price</th>
                <th>Category</th>
                <th>Make Changes</th>
            </tr>
        </thead>
        <tbody>
            <div>
            {% for product in products %}
            <tr>
                <td>{{ product.name }}</td>
                <td>{{ product.description }}</td>
                <td>£{{ product.price }}</td>
                <td>{{ product.category }}</td>
                <td>
                <a href="{{ url_for('main.update_product', product_id=product.id) }}">Update</a>
                <a href="{{ url_for('main.delete_product', product_id=product.id) }}">Delete</a>
                </td>
            </tr>
            {% else %}
            <tr>
                <td colspan="4">No products found.</td>
            </tr>
            {% endfor %}

            </div>
        </tbody>
    </table>
<div class="button-container">
  <button type="button" class="fancy-button" onclick="window.location.href='{{ url_for('main.new_basket_item') }}'">
    Add New Item
  </button>
</div>
</html>


<br><br><br><br><br>
<br><br><br><br><br>
<br><br><br><br><br>
<br><br><br><br><br>

{% endblock %}