{% extends "base.html" %}
{% block title %}Home{% endblock %}

{%block content %}
{% with messages = get_flashed_messages(with_categories=true) %}
    {% if messages %}
        {% for category, message in messages %}
            <div class="alert alert-{{ category }}">
                {{ message }}
            </div>
        {% endfor %}
    {% endif %}
{% endwith %}
<html>
<head>
    <title>Bakery Products</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Playfair+Display&display=swap" rel="stylesheet">
</head>
<body>
<br><br><br><br><br>
<br><br><br><br><br>
<br><br><br><br><br>
<br><br><br><br><br>
<br><br><br><br><br>
    {% if current_user.is_admin %}
    <h1>Our Delicious Bakery Products - Admin Panel</h1>
    {% else %}
    <h1>Our Delicious Bakery Products</h1>
    {% endif %}
    <table>
        <thead>
            <tr>
                <th>Name</th>
                <th>Description</th>
                <th>Price</th>
                <th>Category</th>
                {% if current_user.is_admin %}
                <th>Make Changes</th>
                {% endif %}
            </tr>
        </thead>
            <tbody>
                {% for product, category_name in products %}
                <tr>
                    <td>{{ product.name }}</td>
                    <td>{{ product.description }}</td>
                    <td>£{{ product.price }}</td>
                    <td>{{ category_name }}</td>
                    {% if current_user.is_admin %}
                    <td>
                        <a href="{{ url_for('main.update_product', product_id=product.id) }}">Update</a>
                        <a href="{{ url_for('main.delete_product', product_id=product.id) }}">Delete</a>
                    </td>
                    {% endif %}
                </tr>
                {% else %}
                <tr>
                    <td colspan="4">No products found.</td>
                </tr>
                {% endfor %}
            </tbody>
    </table>

    <!-- Link to yum.html page -->
    <div class="text-center mt-4">
        <a href="{{ url_for('main.yum') }}" class="btn btn-primary">Go to Shop</a>
    </div>

      <!-- Add New Item link for admin users -->
    {% if current_user.is_authenticated %}
        {% if current_user.is_admin %}
<div class="button-container">
  <button type="button" class="fancy-button" onclick="window.location.href='{{ url_for('main.new_catalog_item') }}'">
    Add New Item
  </button>
</div>
    {% endif %}
        {% endif %}

     <!-- Logout button for all authenticated users -->
    {% if current_user.is_authenticated %}
    <div class="button-container">
        <button type="button" class="logout-button" onclick="window.location.href='{{ url_for('main.logout') }}'">
            Logout
        </button>
    </div>
    {% endif %}
</html>


<br><br><br><br><br>
<br><br><br><br><br>
<br><br><br><br><br>
<br><br><br><br><br>

{% endblock %}