{% extends "base.html" %}
{% block title %}Update Product{% endblock %}

{% block content %}
{% with messages = get_flashed_messages(with_categories=true) %}
    {% if messages %}
        {% for category, message in messages %}
            <div class="alert alert-{{ category }} alert-dismissible fade show" role="alert">
                {{ message }}
                <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
            </div>
        {% endfor %}
    {% endif %}
{% endwith %}

<style>
    table {
        width: 80%;
        margin: 0 auto;
        border-collapse: collapse;
        box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
    }

    th, td {
        padding: 1rem;
        text-align: left;
    }

    th {
        background-color: #ceb8a1;
        color: #5c4033;
        font-weight: bold;
        font-family: 'Open Sans', sans-serif;
    }

    tr:nth-child(even) {
        background-color: #f2e8df;
    }

    .action-btn {
        display: inline-block;
        padding: 0.5rem 1rem;
        border-radius: 4px;
        text-decoration: none;
        color: #5c4033;
        font-weight: bold;
        transition: background-color 0.3s ease;
    }

    .action-btn.update {
        background-color: #d5bb56;
    }

    .action-btn.delete {
        background-color: #e58e8e;
    }

    .action-btn:hover {
        background-color: #ceb8a1;
    }

    .button-container {
        text-align: center;
    }
</style>

<table>
    <thead>
        <tr>
            <th colspan="2" style="font-weight: bold; font-size: 2rem;">Update Product</th>
        </tr>
    </thead>
    <tbody>
        {% if current_user.is_admin %}
        <form method="POST" action="{{ url_for('main.update_product', product_id=product.id) }}">
            <tr>
                <td>Name:</td>
                <td><input type="text" id="name" name="name" value="{{ product.name }}" required></td>
            </tr>
            <tr>
                <td>Description:</td>
                <td><textarea id="description" name="description">{{ product.description }}</textarea></td>
            </tr>
            <tr>
                <td>Price:</td>
                <td><input type="number" id="price" name="price" step="0.01" value="{{ product.price }}" required></td>
            </tr>
            <tr>
                <td>Category:</td>
                <td><input type="text" id="category" name="category" value="{{ product.category }}" required></td>
            </tr>
            <tr>
                <td colspan="2">
                    <button type="submit" class="action-btn update">Update Product</button>
                    <button type="button" class="action-btn" onclick="window.location.href='{{ url_for('main.basket') }}'">Cancel</button>
                </td>
            </tr>
        </form>
    {% endif %}
    </tbody>
</table>
{% endblock %}