{% extends "base.html" %}
{% block title %}Yummy My Tummy{% endblock %}


{% block content %}

 <br>
<!--          photos of food-->
          <div class="row row-cols-1 row-cols-md-2 g-4">
  <div class="col">
    <div class="card">
      <img src="/images/cheesy-grilled-sandwich-stockcake.jpg" class="card-img-top" alt="grilled sandwich">
      <div class="card-body">
        <h5 class="card-title">Food</h5>
        <p class="card-text">gibberish.<br><br><br></p>
      </div>
    </div>
  </div>
  <div class="col">
    <div class="card">
      <img src="/images/delicious-vanilla-cupcakes-stockcake.jpg" class="card-img-top" alt="cupcakes">
      <div class="card-body">
        <h5 class="card-title">Glorious</h5>
        <p class="card-text">gibberish <br><br>  </p>
      </div>
    </div>
  </div>
  <div class="col">
    <div class="card">
      <img src="/images/strawberry-topped-waffles-stockcake.jpg" class="card-img-top" alt="waffles">
      <div class="card-body">
        <h5 class="card-title">Food</h5>
        <p class="card-text">gibberish</p>
      </div>
    </div>
  </div>
  <div class="col">
    <div class="card">
      <img src="/images/tasty-bagel-sandwich-stockcake.jpg" class="card-img-top" alt="bagel sandwich">
      <div class="card-body">
        <h5 class="card-title">Yum</h5>
        <p class="card-text">gibberish</p>
      </div>
    </div>
  </div>
</div>

          <br>
          <br>

<!--another block of food -->
        <div class="row row-cols-1 row-cols-md-2 g-4">
  <div class="col">
    <div class="card">
      <img src="/images/delicious-chocolate-tart-stockcake.jpg" class="card-img-top" alt="chocolate tart">
      <div class="card-body">
        <h5 class="card-title">Food</h5>
        <p class="card-text">gibberish.<br><br><br></p>
      </div>
    </div>
  </div>
  <div class="col">
    <div class="card">
      <img src="/images/energizing-coffee-splash-stockcake.jpg" class="card-img-top" alt="coffee">
      <div class="card-body">
        <h5 class="card-title">Glorious</h5>
        <p class="card-text">gibberish <br><br>  </p>
      </div>
    </div>
  </div>
  <div class="col">
    <div class="card">
      <img src="/images/delicious-sandwich-array-stockcake.jpg" class="card-img-top" alt="sandwich array">
      <div class="card-body">
        <h5 class="card-title">Food</h5>
        <p class="card-text">gibberish</p>
      </div>
    </div>
  </div>
  <div class="col">
    <div class="card">
      <img src="/images/dusting-sweet-crepes-stockcake.jpg" class="card-img-top" alt="crepes">
      <div class="card-body">
        <h5 class="card-title">Yum</h5>
        <p class="card-text">gibberish</p>
      </div>
    </div>
  </div>
</div>

<!--end of second block of food -->

<br><br>


{%endblock%}