{% extends "base.html" %}
{% block title %}Yummy My Tummy{% endblock %}

{% block head %}
<br><br><br><br><br>
<br><br><br><br><br>
<br><br><br><br><br>
<br><br><br><br><br>
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Pacifico&family=Roboto:wght@400;700&display=swap" rel="stylesheet">

<style>
    body {
        background-color: #f8f9fa;
    }

    h1, h5.card-title {
        font-family: 'Pacifico', cursive;
        color: #007bff;
    }

    p.card-text {
        font-family: 'Roboto', sans-serif;
        font-weight: 700;
        color: #6c757d;
    }

    .card {
        transition: transform 0.3s;
    }

    .card:hover {
        transform: scale(1.05);
    }

    .card-img-top {
        height: 200px; /* Set a fixed height for the card images */
        object-fit: cover; /* Ensure the image is cropped and centered */
    }
</style>
{% endblock %}

{% block content %}
<br><br><br><br><br>
<br><br><br><br><br>
<br><br><br><br><br>
<br><br><br><br><br>
<div class="container py-5">
    {% if not current_user.is_authenticated %}
    <div class="alert alert-warning">
        <strong>Please log in to add items to your cart.</strong>
        <a href="{{ url_for('main.login') }}" class="alert-link">Login</a> or
        <a href="{{ url_for('main.register') }}" class="alert-link">Register</a>
    </div>
    {% endif %}

    <h1 class="text-center mb-5">Our Delicious Menu</h1>

    <div class="row row-cols-1 row-cols-md-2 g-4 mb-5 mt-5">
        {% for product in products %}
        <div class="col">
            <div class="card shadow">
                <img src="{{ url_for('static', filename=product.image_url[7:]) }}" class="card-img-top" alt="{{ product.name }}"><!--                <img src="{{ url_for('static', filename=product.image_url) }}" class="card-img-top" alt="{{ product.name }}">-->
                <div class="card-body">
                    <h5 class="card-title">{{ product.name }}</h5>
                    <p class="card-text">£{{ product.price }}</p>
                    {% if current_user.is_authenticated %}
                    <form method="post" action="{{ url_for('main.add_product_to_cart', product_id=product.id) }}">
                        <button type="submit" class="btn btn-primary">Add to Cart</button>
                    </form>
                    {% endif %}
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
</div>
{% endblock %}